* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    height: 100vh;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.block {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 100px;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

h1 {
    font-size: 3.6rem;
    font-weight: 600;
}

input,
button,
select {
    padding: 20px;
    font-family: inherit;
    outline: none;
    border: none;
    font-size: 1.6rem;
    border-radius: 5px;
    border: 2px solid black;
}

form {
    display: flex;
    /* gap: 10px; */
}

form input {
    border-radius: 10px 0 0 10px;
}

input {
    background-color: whitesmoke;
    flex: 1;
}

button {
    background-color: #adff2f;
    color: black;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.btn-generate {
    margin-left: -2px;
}

p,
label {
    font-size: 1.6rem;
    letter-spacing: 1.1px;
    line-height: 1.5;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 1s ease;
    padding: 20px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.qrcode img {
    flex: 1;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

.result-actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-download {
    width: 100%;
    border-radius: 10px;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

label {
    display: inline-block;
    text-wrap: nowrap;
}

select {
    padding-right: 0 30px;
    border: none;
    background-color: white;
}

.url {
    width: 320px;
    margin: 0 auto;
    background-color: rgb(233, 233, 233);
    padding: 10px 20px;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 10px;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
}

.alert {
    margin-top: -15px;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(192, 0, 38);
}

.hidden {
    opacity: 0;
}

footer {
    text-align: center;
    padding: 15px;
    font-size: 1.6rem;
    background-color: black;
    color: white;
}

footer a {
    color: #adff2f;
    text-decoration: none;
    font-weight: 500;
}

a {
    color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
    .header-logo {
        height: 70px;
    }

    input,
    button {
        padding: 15px;
    }

    header {
        border-bottom: 2px solid black;
        padding: 0 15px;
    }

    h1 {
        font-size: 2.8rem;
    }

    main {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 15px;
    }

    .block {
        margin-bottom: 80px;
        max-width: 100vw;
    }

    .result {
        gap: 20px;
        padding: 10px;
    }

    .qrcode {
        gap: 10px;
        padding: 0;
    }

    .qrcode img {
        padding: 30px;
    }
}
