* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    height: 100vh;
    font-family: "IBM Plex Mono", monospace;
    display: flex;
    flex-direction: column;
}

.block {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 100px;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

h1 {
    font-size: 3.6rem;
    font-weight: 600;
}

input,
button,
select {
    padding: 15px 20px;
    font-family: inherit;
    outline: none;
    border: none;
    font-size: 1.8rem;
    border-radius: 5px;
    border: 2px solid black;
}

form {
    display: flex;
    /* gap: 10px; */
}

form input {
    border-radius: 10px 0 0 10px;
}

input {
    background-color: whitesmoke;
    flex: 1;
}

button {
    background-color: #adff2f;
    color: black;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.btn-generate {
    margin-left: -2px;
}

p,
label {
    font-size: 1.6rem;
    letter-spacing: 1.1px;
    line-height: 1.5;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 1s ease;
    padding: 30px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.qrcode {
    max-width: 100%;
    width: 500px;
    height: 500px;
    max-height: 100%;
    background: url("https://www.placeholder.com/500x500");
    border-radius: 10px;
}

.result-actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn-download {
    width: 100%;
    border-radius: 10px;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

label {
    display: inline-block;
    text-wrap: nowrap;
}

select {
    padding-right: 0 30px;
    border: none;
    background-color: white;
}

.url {
    background-color: rgb(233, 233, 233);
    padding: 10px 20px;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;
}

.alert {
    margin-top: -25px;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(192, 0, 38);
}

.hidden {
    opacity: 0;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 15px;
    font-size: 1.6rem;
    background-color: black;
    color: white;
}

footer a {
    color: greenyellow;
    text-decoration: none;
    font-weight: 500;
}

a {
    color: black;
}
