.project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-left: 50px;
    margin-bottom: 30px;
    padding-left: 10px;
}

.project-card .decor {
    border-left: 2px solid rgb(217, 217, 217);
    border-bottom: 2px solid rgb(217, 217, 217);
    position: absolute;
    left: -50px;
    padding: 15px;
    width: 50px;
}

.project-card a {
    font-size: 18px;
    font-weight: 600;
    width: max-content;
}

.project-card .actions {
    display: flex;
    gap: 30px;
    font-weight: 500;
}

.project-card .tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-card .tech-stack div {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    letter-spacing: 1.3px;
    background-color: #e4e4e4;
}

@media only screen and (max-width: 600px) {
    .project-card .decor {
        left: -40px;
        padding: 15px;
        width: 30px;
    }

    .project-card {
        padding-left: 10px;
        margin-left: 40px;
    }
}
