footer {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    footer {
        margin-bottom: 0 !important;
        align-items: center;
        gap: 10px;
    }
}