.fab-hire {
    position: fixed;
    right: 35px;
    bottom: 35px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: none;
    padding: 15px;

    box-shadow: 1px 1px 5px rgba(000, 000, 000, 0.2);
    background-color: whitesmoke;
    cursor: pointer;
    z-index: 100;

    transition: all 0.5s ease;
}

.fab-hire:hover {
    transform: translateY(-5px);
    box-shadow: 1px 5px 7px rgba(000, 000, 000, 0.2);
}

.fab-hire img {
    width: 100%;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
    .fab-hire {
        right: 20px;
        bottom: 20px;
        width: 55px;
        height: 55px;
        padding: 12px;
    }
}
