.fab-hire {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: none;
    padding: 15px;

    box-shadow: 3px 3px 5px rgba(000, 000, 000, 0.2);
    background-color: whitesmoke;
    cursor: pointer;
    z-index: 100;
}

.fab-hire img {
    width: 100%;
    pointer-events: none;
}
