.hero-container {
    min-height: 30vh;

    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.hero-container h1 {
    font-family: "IckyTicket";
    position: relative;
    max-width: max-content;
    font-size: 56px;
    color: var(--gray);
}

.hero-container h1 span {
    position: absolute;
    right: -30px;
    top: 0px;
    color: var(--primary-light);
    font-size: 45px;

    transition: all 1s ease;
}

.hero-container h1 span:hover {
    transform: rotateZ(20deg);
    cursor: pointer;
}

.btn-contact {
    font-weight: 500;
    font-size: 18px;
}

.status-container {
    font-size: 16px;
    padding: 4px;
    width: max-content;
    background-color: var(--primary-light);
    box-shadow: 2px 2px 3px rgba(000, 000, 000, 0.15);
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: 15px;
}

.status-container p {
    padding: 5px 0 5px 10px;
    color: white;
}

.status-container span {
    padding: 5px 15px;
    background-color: whitesmoke;
    border-radius: 2.5px;
}

.hero-description {
    max-width: 75%;
    line-height: 1.6;
    text-align: justify;
}

.hero-actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

.hero-actions .github-cta {
    text-decoration: none;
    font-size: 1.4rem;
    transition: color 0.3s ease;
}

.hero-actions .github-cta:hover {
    color: var(--primary-light);
}

@media only screen and (max-width: 600px) {
    .hero-container {
        align-items: center;
    }

    .hero-container h1 {
        font-size: 36px;
    }

    .hero-container h1 span {
        position: absolute;
        right: -25px;
        top: -5px;
        color: var(--primary-light);
        font-size: 28px;
    }

    .hero-description {
        max-width: unset;
        line-height: 1.6;
        text-align: center;
    }
}
