:root {
    --primary-dark: #f3582c;
    --primary-light: #ff6131;
    --secondary-dark: #ffd986;
    --secondary-light: #fef6e1;
    --background: #f8f8f8;
    --text-dark: black;
    --gray: #3e3e3e;
}

@font-face {
    font-family: "IckyTicket";
    src: url("../src/assets/ickyticket.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Applying the custom font to body */
body {
    font-family: "CustomFont", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: var(--primary-light);
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Space Mono", monospace;
    font-size: 1.1rem;
    background-color: var(--background);
    border-bottom: 10px solid var(--primary-light);
    min-height: 100vh;
}

.block {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 20px;
}

.hidden {
    display: none;
}

a {
    color: var(--gray);
    text-underline-offset: 3px;
}

@media only screen and (max-width: 600px) {
    .block {
        margin-bottom: 20px;
    }
}
