header {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.header-logo {
    font-weight: 700;
    font-size: 20px;
}

header ul {
    flex: 1;
    display: flex;
    list-style-type: none;
    justify-content: end;
    gap: 40px;
}

header a {
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .header-logo {
        display: none;
    }

    header ul {
        gap: 20px;
        justify-content: center;
    }

    header ul li::after {
        content: ".";
    }
}
