.thoughts-container h2 {
    margin-bottom: 30px;
    font-weight: 500;
    grid-column: span 2;
}

.thoughts-container p {
    margin-bottom: 30px;
}

.thoughts-loading-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media only screen and (max-width: 600px) {
    .thoughts-container {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}
